<section class="feedback-form">
    <div class="small-container">
        <div class="feedback-form__text">
            <p class="about-content__sign text-p2 color-gray">
                СВЯЖЕМСЯ С ВАМИ
            </p>
            <h3 class="about-content__head text-head-h2 color-black">
                Напишите нам
            </h3>
            <div class="about-content__text body-text color-black">
                Пожалуйста, оставьте свои контактные  данные и задайте интересующий вас вопрос. Наш менеджер свяжется с вами!
            </div>
        </div>
        <form class="feedback-form__form form">
            <input class="form__input" type="text" placeholder="Имя">
            <input class="form__input" type="email" placeholder="Email*" required>
            <input class="form__input" type="tel" placeholder="Телефон*" required>
            <textarea class="form__textarea" placeholder="Ваше сообщение" name="comment"></textarea>
            <div class="form__send">
                <div class="checkbox">
                    <input class="custom-checkbox" type="checkbox" id="checkbox" name="checkbox" value="checkbox">
                    <label for="checkbox"></label>
                </div>
                <div class="form__text text-small color-black">
                    Я ознакомлен(-а) с <a href="#" class="color-yellow"> политикой обработки персональных данных*</a>
                </div>
                <a class="yellow-button btn-text color-white" href="#">
                    ОТПРАВИТЬ
                </a>
            </div>
        </form>
    </div>
</section>
