<footer class="footer">
    <div class="container">
        <div class="footer__contacts">
            <img src="../img/footer-logo.svg">
            <p class="text-sub2 color-white">+7(499) 346-69-95</p>
        </div>
        <div class="footer__nav">
            <a href="#" class="btn-text color-white">Главная</a>
            <a href="#" class="btn-text color-white">Услуги</a>
            <a href="#" class="btn-text color-white">Цены</a>
            <a href="#" class="btn-text color-white">Контакты</a>
        </div>
        <div class="footer__social">
            <a href="#">
                <img src="../img/insta.svg">
                <p class="body-text color-white">@dr.smart_msk</p>
            </a>
            <a href="#" class="body-text color-white">
                Политика конфиденциальности
            </a>
            <div class="ontop btn-text color-white">
                НАВЕРХ
                <img src="../img/arrow-up.svg">
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="container">
        <div class="body-text color-gray">© Doctor Smart LLC, 2020г.</div>
        <div class="body-text color-gray">Любая информация, размещенная на сайте, не является публичной офертой</div>
        <a href="#" target="_blank" class="body-text color-gray">Разработка сайта: ROW STUDIO</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/js/main.min.js"></script>
