<header class="header">
    <div class="container">
        <a class="header__logo" href="/"><img src="img/logo.svg"></a>
        <div class="header__nav">
            <a href="#" class="btn-text color-black active">Главная</a>
            <a href="#" class="btn-text color-black">Услуги</a>
            <a href="#" class="btn-text color-black">Цены</a>
            <a href="#" class="btn-text color-black">Контакты</a>
        </div>
        <div class="header__contacts contacts">
            <div class="contacts__city btn-text color-black">
                ИРКУТСК
                <!--                <div class="choose-city">-->
                <!--                    <div>ИРКУТСК</div>-->
                <!--                    <div>МОСКВА</div>-->
                <!--                </div>-->
                <img class="contacts__arr" src="../img/header-arrow.svg">
            </div>
            <a href="#" class="contacts__phone text-sub2 color-black">
                +7(499) 346-69-95
            </a>
        </div>
    </div>
</header>
