<header class="header">
    <div class="container">
        <div id="burger" class="header__burger burger">
            <div class="burger__line burger__first-line"></div>
            <div class="burger__line burger__second-line"></div>
            <div class="burger__line burger__third-line"></div>
        </div>
        <a class="header__logo" href="/"><img src="img/logo.svg"></a>
        <div class="header__nav">
            <a href="#" class="btn-text color-black active">Главная</a>
            <a href="#" class="btn-text color-black">Услуги</a>
            <a href="#" class="btn-text color-black">Цены</a>
            <a href="#" class="btn-text color-black">Контакты</a>
        </div>
        <div class="header__contacts contacts">
            <div id="city" class="contacts__city btn-text color-black">
                <div class="city-value">ИРКУТСК</div>
                <img class="contacts__arr" src="../img/header-arrow.svg">
                <div class="choose-city">
                    <a href="#" class="choose-city__irk active-city">ИРКУТСК</a>
                    <a href="#" class="choose-city__msc">МОСКВА</a>
                </div>
            </div>
            <a href="#" class="contacts__phone text-sub2 color-black">
                +7(499) 346-69-95
            </a>
        </div>
    </div>
    <div class="header__mobile mobile-dropdown">
        <div class="container">
            <div class="header__nav header__nav__mobile">
                <a href="#" class="btn-text color-black">Главная</a>
                <a href="#" class="btn-text color-black">Услуги</a>
                <a href="#" class="btn-text color-black">Цены</a>
                <a href="#" class="btn-text color-black">Контакты</a>
            </div>
            <div class="mobile-dropdown__footer">
                <a class="mobile-dropdown__insta" href="#">
                    <img src="../img/insta-header.svg">
                    <p class="body-text color-black">@dr.smart_msk</p>
                </a>
                <img class="mobile-dropdown__sign" src="img/ats.svg">
            </div>
        </div>
    </div>
</header>
