@media (max-width: 1700px) {
  .container {
    max-width: 1160px;
  }
  .header {
    &__nav {
      margin-left: 37px;
      a {
        margin: 0 22px;
      }
    }
  }
  .contacts {
    &__phone {
      padding-left: 60px;
    }
  }
  .main-banner {
    background-image: url("../img/banner-mob-1.jpg");
    &__second {
      background-image: url("../img/banner-mob-2.jpg");
    }
  }
  .advantages {
    margin-top: 100px;
    &__item {
      &:nth-child(2) {
        margin: 0 90px;
      }
    }
  }
  .about {
    &__text {
      padding: 59px 20px 60px 50px;
    }
    &__image {
      flex: 50%;
      min-width: 50%;
      img {
        width: 100%;
      }
    }
  }
  .work {
    &__text {
      padding-left: 0;
      padding-top: 50px;
    }
    &__image {
      padding-left: 70px;
      img {
        width: 100%;
      }
    }
  }
  .hand-over {
    padding: 115px 0;
    &__head {
      margin-left: 100px;
      max-width: 252px;
    }
    &__btn {
      margin-right: 100px;
    }
    &__text {
      width: 380px;
      padding-right: 64px;
    }
  }
  .small-container {
    max-width: 1200px;
  }
  .review {
    &__item {
      margin: 0 21px;
      padding: 25px;
    }
    &__text {
      font-size: 16px;
    }
  }
  .reviews {
    &__head {
      padding-left: 21px;
    }
  }
  .feedback-form {
    .small-container {
      max-width: 1160px;
      padding: 119px 75px;
    }
  }
  .footer {
    &__nav {
      margin-left: 70px;
      display: flex;
      a {
        padding: 0 22px;
      }
    }
    &__social {
      margin-left: 70px;
      white-space: nowrap;
    }
  }
  .slider {
    .slick-dots {
      left: calc((100% - 1160px)/ 2);
    }
    &-dots {
      left: calc((100% - 1160px)/ 2);
    }
  }
}
@media (min-width: 1201px) {
  .header {
    &__burger {
      display: none;
    }
    &__mobile {
      display: none;
    }
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 673px;
    box-sizing: border-box;
  }
  .header {
    .container {
      justify-content: space-between;
    }
    &__nav {
      display: none;
      margin-left: 0;
      &__mobile {
        display: flex;
        flex: 100%;
        a:first-child {
          margin-left: 0;
        }
      }
    }
    &__contacts {
      margin-left: 10px;
    }
  }
  .contacts {
    &__city {
      display: none;
    }
    &__phone {
      padding-left: 0;
      font-size: 18px;
    }
  }
  .burger {
    margin-right: 100px;
  }
  .footer {
    p {
      text-align: end;
    }
    .container {
      justify-content: space-between;
    }
    &__nav {
      display: none;
    }
    &__contacts {
      order: 2;
    }
    &__social {
      margin-left: 0;
    }
  }
  .ontop {
    justify-content: flex-start;
  }
  .footer-bottom {
    .container {
      flex-wrap: wrap;
      .color-gray {
        color: #8d8d8d;
      }
      div {
        &:first-child {
          order: 2;
        }
        &:nth-child(2) {
          flex: 100%;
          order: 1;
        }
      }
      a {
        display: block;
        order: 3;
      }
    }
  }
  .main-banner {
    background-image: url("../img/banner-mobile-3.jpg");
    padding: 150px 0 115px;
    &__second {
      background-image: url("../img/banner-mobile-4.jpg");
    }
    &__head {
      font-size: 44px;
      line-height: 52px;
    }
    &__description {
      font-size: 18px;
      line-height: 26px;
    }
    &__wrap {
      padding-bottom: 350px;
    }
    &__btn {
      font-size: 14px;
      text-align: center;
      padding: 12px 41px;
    }
    &__sign {
      left: 0;
      bottom: 160px;
    }
  }
  .slider {
    .slick-dots {
      position: relative;
      justify-content: center;
      left: 0;
    }
    &-dots {
      left: calc(50% - 67px);
      top: 838px
    }
  }
  .advantages {
    margin-top: 30px;
  }
  .feedback-form {
    .small-container {
      max-width: 672px;
      flex-wrap: wrap;
      padding: 56px 80px 76px;
    }
    &__text {
      flex: 100%;
      padding-right: 0;
      text-align: center;
      h3 {
        font-size: 32px;
        padding-bottom: 16px;
      }
      .about-content__text {
        padding-bottom: 40px;
      }
    }
  }
  .hand-over {
    margin: 88px auto;
    padding: 56px 40px;
    flex-wrap: wrap;
    align-items: flex-start;
    &__head {
      margin-left: 0;
      font-size: 32px;
      line-height: 40px;
      flex: 50%;
      padding-right: 20px;
    }
    &__text {
      padding-right: 0;
      width: auto;
      flex: calc(50% - 20px);
    }
    &__btn {
      margin-right: 0;
      flex: 50%;
      display: table;
      max-width: 167px;
      margin-left: 273px;
      font-size: 14px;
      text-align: center;
    }
  }
  .about {
    flex-wrap: wrap;
    margin: 80px auto;
    &__image {
      flex: 100%;
      min-width: 100px;
      height: 502px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &__text {
      padding: 40px 210px 40px 0;
    }
  }
  .small-container {
    max-width: 713px;
    box-sizing: border-box;
  }
  .review {
    &__count {
      padding-left: 230px;
    }
    &__text {
      font-size: 14px;
      line-height: 22px;
      height: 95px;
    }
    .slick-dots {
      right: 0;
      padding-right: 0;
      position: relative;
      justify-content: center;
      text-align: center;
      margin-top: -10px;
    }
    &-dots {
      right: calc(50% - 150px);
      bottom: -60px;
    }
  }
  .mentions {
    padding: 50px 0 520px;
  }
  .feedback-form {
    margin-top: -414px;
    margin-bottom: -281px;
  }
}
