@media (max-width: 1700px) {
  .container {
    max-width: 1160px;
  }
  .header {
    &__nav {
      margin-left: 37px;
      a {
        margin: 0 22px;
      }
    }
  }
  .contacts {
    &__phone {
      padding-left: 60px;
    }
  }
  .main-banner {
    background-image: url("../img/banner-mob-1.jpg");
    &__second {
      background-image: url("../img/banner-mob-2.jpg");
    }
  }
  .advantages {
    margin-top: 100px;
    &__item {
      &:nth-child(2) {
        margin: 0 90px;
      }
    }
  }
  .about {
    &__text {
      padding: 59px 20px 60px 50px;
    }
    &__image {
      flex: 50%;
      min-width: 50%;
      img {
        width: 100%;
      }
    }
  }
  .work {
    &__text {
      padding-left: 0;
      padding-top: 50px;
    }
    &__image {
      padding-left: 70px;
      img {
        width: 100%;
      }
    }
  }
  .hand-over {
    padding: 115px 0;
    &__head {
      margin-left: 100px;
      max-width: 260px;
    }
    &__btn {
      margin-right: 100px;
    }
    &__text {
      width: 380px;
      padding-right: 64px;
    }
  }
  .small-container {
    max-width: 1200px;
  }
  .review {
    &__item {
      margin: 0 21px;
      padding: 25px;
    }
    &__text {
      font-size: 16px;
    }
  }
  .reviews {
    &__head {
      padding-left: 21px;
    }
  }
  .feedback-form {
    .small-container {
      max-width: 1160px;
      padding: 119px 75px;
    }
  }
  .footer {
    &__nav {
      margin-left: 70px;
      display: flex;
      a {
        padding: 0 22px;
      }
    }
    &__social {
      margin-left: 70px;
      white-space: nowrap;
    }
  }
  .slider {
    .slick-dots {
      left: calc((100% - 1160px)/ 2);
    }
    &-dots {
      left: calc((100% - 1160px)/ 2);
    }
  }
}
@media (min-width: 1201px) {
  .header {
    &__burger {
      display: none;
    }
    &__mobile {
      display: none;
    }
  }
  .work-mobile {
    display: none;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 673px;
    box-sizing: border-box;
  }
  .header {
    .container {
      justify-content: space-between;
    }
    &__nav {
      display: none;
      margin-left: 0;
      &__mobile {
        display: flex;
        flex: 100%;
        a:first-child {
          margin-left: 0;
        }
      }
    }
    &__contacts {
      margin-left: 10px;
    }
  }
  .contacts {
    &__city {
      display: none;
    }
    &__phone {
      padding-left: 0;
      font-size: 18px;
    }
  }
  .burger {
    margin-right: 100px;
  }
  .footer {
    p {
      text-align: end;
    }
    .container {
      justify-content: space-between;
    }
    &__nav {
      display: none;
    }
    &__contacts {
      order: 2;
    }
    &__social {
      margin-left: 0;
    }
  }
  .ontop {
    justify-content: flex-start;
  }
  .footer-bottom {
    .container {
      flex-wrap: wrap;
      .color-gray {
        color: #8d8d8d;
      }
      div {
        &:first-child {
          order: 2;
        }
        &:nth-child(2) {
          flex: 100%;
          order: 1;
        }
      }
      a {
        display: block;
        order: 3;
      }
    }
  }
  .main-banner {
    background-image: url("../img/banner-mobile-3.jpg");
    padding: 150px 0 115px;
    &__second {
      background-image: url("../img/banner-mobile-4.jpg");
    }
    &__wrap {
      padding-bottom: 350px;
    }
    &__btn {
      font-size: 14px;
      text-align: center;
      padding: 12px 41px;
    }
    &__sign {
      left: 0;
      bottom: 160px;
    }
  }
  .slider {
    .slick-dots {
      position: relative;
      justify-content: center;
      left: 0;
    }
    &-dots {
      left: calc(50% - 67px);
      top: 838px
    }
  }
  .advantages {
    margin-top: 30px;
    .container {
      flex-wrap: wrap;
    }
  }
  .advantage {
    &:nth-child(2) {
      margin: 20px 0;
    }
  }
  .feedback-form {
    .small-container {
      max-width: 672px;
      flex-wrap: wrap;
      padding: 56px 80px 76px;
    }
    &__text {
      flex: 100%;
      padding-right: 0;
      text-align: center;
      h3 {
        padding-bottom: 16px;
      }
      .about-content__text {
        padding-bottom: 40px;
      }
    }
  }
  .hand-over {
    margin: 88px auto;
    padding: 56px 40px;
    flex-wrap: wrap;
    align-items: flex-start;
    &__head {
      margin-left: 0;
      flex: 50%;
      padding-right: 20px;
    }
    &__text {
      padding-right: 0;
      width: auto;
      flex: calc(50% - 20px);
    }
    &__btn {
      margin-right: 0;
      flex: 50%;
      display: table;
      max-width: 167px;
      margin-left: 273px;
      font-size: 14px;
      text-align: center;
    }
  }
  .about {
    flex-wrap: wrap;
    margin: 80px auto 0;
    &__image {
      flex: 100%;
      min-width: 100px;
      height: 502px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &__text {
      padding: 40px 210px 40px 0;
    }
  }
  .small-container {
    max-width: 713px;
    box-sizing: border-box;
  }
  .review {
    &__count {
      padding-left: 230px;
    }
    &__text {
      font-size: 14px;
      line-height: 22px;
      height: 95px;
    }
    .slick-dots {
      right: 0;
      padding-right: 0;
      position: relative;
      justify-content: center;
      text-align: center;
      margin-top: -10px;
    }
    &-dots {
      right: calc(50% - 150px);
      bottom: -60px;
    }
  }
  .mentions {
    padding: 50px 0 520px;
  }
  .feedback-form {
    margin-top: -414px;
    margin-bottom: -281px;
  }
  .work {
    flex-wrap: wrap;
    &__text {
      flex: 100%;
    }
    &__image {
      flex: 65%;
      max-width: 65%;
      margin-left: auto;
    }
    &-mobile {
      width: 100%;
      margin-top: 66px;
    }
    &-item {
      &__number {
        font-size: 40px;
        margin-right: 8px;
        padding-top: 5px;
      }
      &__text {
        p {
          min-width: 279px;
        }
      }
    }
  }
}
@media (min-width: 701px) {
  .contacts {
    &__phone {
      &__mobile {
        display: none;
      }
    }
  }
  .mobile-dropdown {
    &__phone {
      display: none;
    }
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contacts {
    &__phone {
      display: none;
    }
  }
  .burger {
    margin-right: 0;
  }
  .header {
    padding: 11px 0;
    &__logo {
      width: 124px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__nav {
      &__mobile {
        flex-wrap: wrap;
        a {
          flex: 100%;
          margin-left: 0;
          margin-bottom: 24px;
        }
      }
    }
    &__mobile {
      padding: 30px 0;
      top: 64px
    }
  }
  .mobile-dropdown {
    &__sign {
      display: none;
    }
    &__footer {
      margin-top: 40px;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    &__phone {
      flex: 100%;
      margin-bottom: 20px;
    }
  }
  .main-banner {
    padding-top: 80px;
    background-size: contain;
    &__wrap {
      padding-bottom: 200px;
    }
  }
  .slider-dots {
    left: calc(50% - 62px);
    top: 550px;
  }
  .about {
    margin-top: 30px;
    &__text {
      order: 1;
      padding-right: 0;
    }
    &__image {
      order: 2;
      height: 359px;
    }
  }
  .about-content {
    &__head {
      padding-bottom: 12px;
    }
    &__sign {
      padding-bottom: 5px;
    }
    &__text {
      padding-bottom: 24px;
    }
  }
  .seven-years {
    &__count {
      font-size: 14px;
      span {
        font-size: 60px;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 22px;
      padding-left: 8px;
    }
  }
  .work {
    &__image {
      margin-left: 0;
      flex: 100%;
      max-width: 100%;
      padding-left: 0;
    }
  }
  .work-item {
    margin-bottom: 25px;
    &__number {
      font-size: 30px;
    }
    &__text {
      width: auto;
      p {
        min-width: auto;
      }
    }
  }
  .hand-over {
    margin: 64px auto;
    padding-top: 48px;
    padding-bottom: 48px;
    &__head {
      flex: 100%;
      margin-bottom: 8px;
    }
    &__text {
      flex: 100%;
    }
    &__btn {
      margin-left: 0;
      margin-top: 16px;
    }
  }
  .review {
    .slick-dots {
      li {
        button {
          width: 28px;
        }
      }
    }
  }
  .small-container {
    max-width: 100%;
    padding-left: 2px;
    padding-right: 2px;
  }
  .mentions {
    &__wrap {
      flex-wrap: wrap;
    }
  }
  .reviews {
    &__sign {
      padding-left: 22px;
    }
  }
  .feedback-form {
    .small-container {
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 20px;
      margin-right: 20px;
    }
    &__form {
      min-width: auto;
      width: 100%;
    }
  }
  .form {
    &__textarea {
      width: 100%;
    }
    &__send {
      flex-wrap: wrap;
      .yellow-button {
        display: block;
        margin: 20px auto;
      }
    }
  }
  .feedback-form {
    .small-container {
      padding-bottom: 44px;
    }
    &__text {
      text-align: left;
    }
    .about-content {
      &__head {
        padding-bottom: 8px;
      }
    }
  }
  .footer {
    padding-top: 440px;
    padding-bottom: 16px;
    &__contacts {
      order: 1;
      flex: 100%;
      img {
        width: 180px;
      }
      p {
        padding-top: 25px;
      }
    }
    &__social {
      order: 2;
      flex: 100%;
      position: relative;
      a {
        padding-bottom: 0;
        padding-top: 20px;
      }
    }
    p {
      text-align: left;
    }
    .container {
      flex-wrap: wrap;
    }
  }
  .ontop {
    position: absolute;
    color: transparent;
    right: 0;
    bottom: 0;
    padding-bottom: 0;
  }
  .footer-bottom {
    .container {
      div {
        padding-bottom: 16px;
        &:first-child {
          flex: 100%;
        }
      }
    }
  }
  .review-dots {
    left: calc(50% - 130px);
  }
  .review {
    .slick-dots {
      padding-left: 0!important;
    }
  }
}
@media (max-width: 500px) {
  .feedback-form {
    margin-bottom: -376px;
    margin-top: -439px;
  }
  .form {
    &__text {
      padding-right: 0;
      flex: 90%;
      width: 90%;
    }
  }
  .checkbox {
    flex: 10%;
    width: 10%;
  }
  .custom-checkbox+label::before {
    margin-right: 7px;
  }
}
@media (max-width: 420px) {
  .main-banner {
    &__wrap {
      padding-bottom: 120px;
    }
    &__sign {
      width: 120px;
      left: 20px;
    }
  }
  .slider {
    .slick-dots {
      bottom: 38px;
    }
    ul {
      padding-left: 0!important;
    }
  }
  .slider-dots {
    top: 497px;
    left: calc(50% - 77px);
  }
}
